.code_scan_box {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.video_box {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .video {
    height: 100%;

    &.flip {
      width: 100%;
      height: auto;
    }
  }
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 200px 35px;
  grid-template-rows: 55px 35px;
  grid-template-areas:
    'L F'
    'C S';
  gap: 10px;
  justify-content: center;

  .file {
    grid-area: F;
  }
  .flash {
    grid-area: L;
    height: 100%;
  }
  .settings {
    grid-area: S;
  }
  .select {
    grid-area: C;
  }
}
