.code_scan_box {
  position: relative;

  width: 100%;
  height: 100%;

  .sight_box {
    position: absolute;
    inset: 0;

    .sight {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translateX(-50%) translateY(-50%);

      width: 200px;
      height: 200px;

      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.228);
      border-radius: 10px;
    }
  }
}
